.col-md-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 6%;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: white;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-group{
    margin-top: 5% !important;
    border-width: medium;
}

button{
    margin-top: 5%;
    width: 25%;
} 

/*
select{
    margin-top: 5% !important;
    border-width: medium;
}

textarea{
    margin-top: 5% !important;
}

p{
    color: white;
    font: bold;
}

h1{
    font-weight: bold !important;
}

.col-md-8{
    margin-top: 6%;
    margin-bottom: 6%;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: white;
    padding: 2%;
}

span{
    font-weight: bold;
}

*/