<footer class="page-footer font-small pt-3 bg-dark text-light">
    <div>
        <p class="text-light text-center">
            <span class="font-weight-bold">Address:- </span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,<br />
            totam rem  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
            explicabo.
        </p>
        <p class="text-center contact">
            Contact: (+91) 9999999999/8888888888
        </p>
    </div>

    <div class="footer-copyright text-center p-3">© 2021 Copyright:
        <a href="/"> NinadChavan.com</a>
    </div>
</footer>