<div class="productdetails">
    <div class="productdetailsimage m-5">
        <img src="../../assets/image.jpg" />
    </div>
    <div class="productdetailsdata p-3">
        <p>{{ product.name }}</p>
        <p>
            Description:<br />
            {{ product.description }}
        </p>
        <p>Category: {{ product.category }}</p>
        <p>Price: {{ product.price | currency:'INR' }}</p>
        <p>Rating: {{ product.rating }}</p>
        <button class="btn btn-success">Add to Cart</button>

        <div class="productdetailsedit">
            <button routerLink = "/products/{{product.id}}/edit" class="btn btn-outline-primary ">Edit</button>
            <button class="btn btn-outline-danger" (click)="delete(product.id)">Delete</button>
        </div>
    </div>
</div>