<div class="productdetails">
    <div class="productdetailsimage">
        <img src="../../assets/image.jpg" />
    </div>
    <div class="productdetailsdata m-5 p-2">
        <p>Product Name</p>
        <p>
            Product description:<br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis orci sed turpis viverra suscipit. Maecenas aliquet in erat vel volutpat.
        </p>
        <p>Product Price</p>
        <button class="btn btn-success">Add to Cart</button>
    </div>
</div>