.content-home{
    background-image: url("../../assets/Background1.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: auto;
    width: 101%;
    height: 85vh;
}

.mes{
    color: white;
    margin-top: 15%;
}